* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #333;
}

@media screen and (max-width: 800px) {
	body {
		background-color: tomato;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-color: blue;
	}
    h2{
        display: none;
    }
}

@media screen and (max-width: 400px) {
	body {
		background-color: gold;
	}
    h2{
        display: none;
    }
}
