* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;

	&__title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__inputContainer {
		width: 100%;
		height: 50px;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		z-index: 1;
	}

	&__text {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__input {
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid #333;
		border-radius: 5px;
		font-size: 16px;
		font-weight: 500;
		outline: none;
		transition: all 0.3s ease-in-out;

		& input {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			font-size: 16px;
			font-weight: 500;
		}

		&:focus {
			border-color: #666;
		}
	}

	&__btns {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 40px auto;
	}

	&__btn {
		width: 40%;
		height: 40px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}

		&--highlighted {
			background-color: #12c77b;
			color: #fff;
		}
	}
}
