* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--first-color: rgb(235, 0, 0);
	--second-color: white;
	--third-color: rgb(0, 235, 0);
	--fourth-color: rgb(0, 235, 235);
	--fifth-color: rgb(235, 0, 235);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	width: 800px;
	background-image: radial-gradient(circle, rgb(42, 44, 46) 0%, rgb(25, 25, 25) 93%);
	border-radius: 8px;
	box-shadow: 5px 5px 10px black;
	color: white;
}

.info,
.info2 {
	position: absolute;
	top: 6px;
	right: 14px;
	padding: 20px;
	font-size: 24px;
	color: var(--second-color);
	cursor: pointer;
	transition: color 0.3s;
}

.info2 {
	top: 6px;
	right: 50px;
}

.info:hover,
.info2:hover {
	color: var(--first-color);
}

.colors {
	position: absolute;
	/* display: flex; */
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	top: 60px;
	right: 14px;
	width: 50px;
	height: 200px;
	color: var(--second-color);
	transition: color 0.3s;
}

.circle {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 10px auto;
	cursor: pointer;
	transition: box-shadow 0.3s, width 0.3s, height 0.3s;
}

.circle:hover {
	box-shadow: 0 0 25px var(--circle-color);
	width: 22px;
	height: 22px;
}
.circle.one {
	background-color: rgb(235, 0, 0);
	box-shadow: 0 0 15px rgb(235, 0, 0);
	--circle-color: rgb(235, 0, 0);
}

.circle.two {
	background-color: var(--fifth-color);
	box-shadow: 0 0 15px var(--fifth-color);
	--circle-color: var(--fifth-color);
}

.circle.three {
	background-color: var(--third-color);
	box-shadow: 0 0 15px var(--third-color);
	--circle-color: var(--third-color);
}

.circle.four {
	background-color: var(--fourth-color);
	box-shadow: 0 0 15px var(--fourth-color);
	--circle-color: var(--fourth-color);
}

.colors:hover {
	color: var(--first-color);
}

h1 {
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: lighter;
}

.stopwatch {
	font-size: 72px;
	color: var(--first-color);
}

.time {
	visibility: hidden;
	color: var(--second-color);
	font-size: 22px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px;
}

button {
	margin: 10px;
	padding: 10px 20px;
	width: 20%;
	color: white;
	font-size: 22px;
	background-color: transparent;
	border: 1px solid var(--first-color);
	border-top: 1px solid var(--second-color);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover,
button:focus {
	background-color: var(--first-color);
	outline: none;
}

.history {
	flex-grow: 1;
	text-transform: uppercase;
}

.time-list {
	display: none;
}

.show {
	display: block !important;
}

.time-list li {
	display: flex;
	justify-content: space-between;
	width: 300px;
	font-size: 22px;
	color: var(--second-color);
}

.time-list span {
	font-weight: bold;
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 360px;
	padding: 30px 60px;
	border-radius: 15px;
	background-color: rgb(245, 245, 245);
}

.modal h3 {
	margin-bottom: 20px;
	font-size: 30px;
}

.modal p {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 20px;
}

.close {
	display: block;
	margin: 40px auto 0;
	width: 200px;
	background-color: var(--first-color);
	transition: background-color 0.3s;
}

.modal .close:hover {
	background-color: rgb(226, 36, 26);
}

.modal-animation {
	animation: show-modal 0.5s;
}

@keyframes show-modal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
